<connectionStrings>
  <add name="ChinookDB"
        connectionString="Data Source=.; Initial Catalog=Chinook; Integrated Security=true"
        providerName="System.Data.SqlClient"/>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-WebApp-20180911125115.mdf;Initial Catalog=aspnet-WebApp-20180911125115;Integrated Security=True"
    providerName="System.Data.SqlClient"></add>
</connectionStrings>
